.grid-clock {
    gap: 7rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.time {
    position: relative;
}

.clock {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 100%;
}

.time-grid {
    width: 100%;
    display: grid;
    grid-template-areas: "overlay";
}

.time, .clock {
    grid-area: overlay;
}

.clock-label {
    left: 0;
    top: 15%;
    width: 100%;
    color: #8f8f8f;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    position: absolute;
}

.hour, .minute, .second {
    left: 50%;
    bottom: 50%;
    position: absolute;
    border-radius: 10px;
    transform-origin: bottom;
    transform: translateX(-50%);
}

.hour {
    width: 2%;
    height: 30%;
    background-color: rgb(51, 51, 51);
}

.minute {
    width: 1.5%;
    height: 35%;
    background-color: rgb(85, 85, 85);
}

.second {
    width: .7%;
    height: 40%;
    background-color: red;
}

.center {
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    background-color: black;
    transform: translate(-50%, -50%);
}

.clock-container {
    width: 100%;
    border-radius: 1rem;
    background-color: rgb(61, 61, 61);
}

.clock-content {
    width: 100%;
    padding: 1rem;
    text-align: center;
}

@media (max-width: 1092px) {
    .grid-clock {
        gap: 3rem;
        padding: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 689px) {
    .grid-clock {
        gap: 2rem;
        padding: 1rem;
    }
}

.grid-clock.triple {
    grid-template-columns: repeat(3, 1fr);
}

.grid-clock.double {
    margin: 0 auto;
    max-width: 60%;
    grid-template-columns: repeat(2, 1fr);
}

.grid-clock.one {
    margin: 0 auto;
    max-width: 30%;
    grid-template-columns: 1fr;
}
