* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 30, 30);
    font-family: sans-serif;
}

.body-content {
    padding: 5rem;
    min-width: 100vw;
}

.grid-container {
    gap: 1rem;
    display: grid;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
}

.container {
    width: 100%;
    border-radius: 1rem;
    background-color: rgb(46, 46, 46);
}

.context {
    min-width: 20rem;
    z-index: 1000;
    position: absolute;
    border-radius: 1rem;
    background-color: rgb(46, 46, 46);
    box-shadow: 0 4px 15px rgba(0, 0, 0, .5);
}

.double, .centered {
    grid-column: span 2;
}

.centered {
    width: 50%;
    transform: translateX(50%);
}

.container-content {
    width: 100%;
    padding: 1rem;
    text-align: center;
}

.main {
    margin-bottom: 1rem;
}

.grid-header {
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.grid-header div {
    text-align: center;
    align-content: center;
    align-items: center;
}

.grid-header .info {
    color: rgb(90, 90, 90);
}

.exit-btn, .clear-btn, .submit-btn {
    width: 100%;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1rem;
    background: linear-gradient(135deg, #68b6ff 0%, #4A90E2 100%);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.login-button {
    border: none;
    padding: .25rem 1rem;
    aspect-ratio: 1;
    cursor: pointer;
    font-size: 2rem;
    margin-left: auto;
    font-weight: bold;
    border-radius: 1rem;
    background: linear-gradient(135deg, #74b6ff 0%, #4A90E2 100%);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.exit-btn, .clear-btn {
    background: linear-gradient(135deg, #ea2323 0%, #d60000 100%);
}

.clear-btn:hover, .exit-btn:hover, .login-button:hover, .submit-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
}

.good-message {
    background-color: #84ff88;
}

.more-btn {
    width: 100%;
    color: grey;
    border: none;
    cursor: pointer;
    background: none;
    font-size: 0.8rem;
    text-align: center;
    display: inline-block;
    text-decoration: underline;
    transition: color .2s ease;
}

.more-btn:hover {
    color: lightgrey;
}

.good-message, .error-message {
    width: 100%;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    border-radius: 1rem;
}

.good-message {
    color: green;
    background: linear-gradient(135deg, #c2ffc5 0%, #91ff95 100%);
}

.error-message {
    color: #c53030;
    background: linear-gradient(135deg, #fff5f5 0%, #fed7d7 100%);
}

.info-div {
    display: flex;
    align-content: center;
}

.hidden {
    display: none !important;
}

@media (max-width: 1092px) {
    .login {
        width: 100%;
        transform: none;
        grid-column: span 2;
    }

    .double-small {
        grid-column: span 2;
    }

    .body-content {
        padding: 2rem;
    }
}

@media (max-width: 689px) {
    .centered {
        width: 100%;
        transform: none;
    }

    .body-content {
        padding: 1rem;
    }
}

.context-grid {
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr;
}
